{% extends "./base.html" %}

{% block title %} {% endblock %}

{% block body %}

<div class="wrapper">

    <!-- Sidebar -->

    <!-- Page Content -->
    <div id="content">
        <!-- We'll fill this with dummy content -->
  
<!-- Dark Overlay element -->
<div class="wrapper">
<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>OUDECO</h3>
    </div>

    <ul class="list-unstyled components">
        <p class="fw-bold">OPTIONS LIST</p>
        <li>
            <a href="/home/">Home</a>
        </li>
        <li>
            <a href="/cliente/">Clientes</a>
        </li>
        <li>
            <a href="/proyecto/">Proyectos</a>
        </li>
        <li>
            <a href="/actividad/">Actividades</a>
        </li>
        <li>
            <a href="/ingeniero/">Ingenieros</a>
        </li>
        <li>
            <a href="/moneda/">Moneda</a>
        </li>
</nav>
<!-- Page Content -->


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/ingeniero/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/signupingeniero/">Action</a></li>
              <li><a class="dropdown-item" href="/ingeniero/create/">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

{% endblock %}